/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.navbar-nav .nav-link {
    font-family: 'Courier New Bold', monospace;
    color: #F1B4BB;
    text-decoration: none;
    -webkit-transition: color 0.3s ease, background-color 0.3s ease;
    -o-transition: color 0.3s ease, background-color 0.3s ease;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.navbar-nav .nav-link:hover {
    color: #89c4e1;
    text-decoration: underline;
}

.navbar-nav .nav-link:hover .bracket {
    color: #b59cfa; /* Gold or any other highlight color */
}

.navbar {
    background-color: #132043;
}

body {
    font-family: 'Roboto Slab', serif;
    background: #132043;
    color: #FDF0F0;
}

.anchor-offset {
    padding-top: 120px;
}

h1 {
    font-family: 'Josefin Sans', sans-serif;
    color: #F1B4BB;
}

h2 {
    font-family: 'Josefin Sans', sans-serif;
    color: #F1B4BB;
}

h3 {
    font-family: 'Josefin Sans', sans-serif;
    color: #F1B4BB;
}

h4 {
    font-family: 'Josefin Sans', sans-serif;
    color: #F1B4BB;
}

#logo {
    width: 100%;
    max-width: 200px;
    height: 100%;
    max-height: 100px;
}

#sectionHome {
    background-image: url('../images/sectionHome_background.jpg');
    background-size: cover;  /* This will cover the entire viewport */
    background-repeat: no-repeat;  /* This will prevent the image from repeating in case it's too small for the container */
    background-position: center center;  /* This will center the image */
    height: 100vh;
    position: relative;
}

#sectionHome::after {
    content: "";
    position: absolute;
    top: 75%; /* Start from the bottom quarter */
    left: 0;
    right: 0;
    bottom: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#132043));
    background: -o-linear-gradient(top, transparent, #132043);
    background: linear-gradient(to bottom, transparent, #132043); /* This gradient starts transparent and fades to white. Adjust as needed. */
    pointer-events: none; /* So it doesn't interfere with any interactions */
}

#profile-picture {
    -webkit-box-shadow: 0 10px 5px 0 rgba(34, 60, 80, .16);
            box-shadow: 0 10px 5px 0 rgba(34, 60, 80, .16);
    -webkit-transition: all ease-in-out .3s;
    -o-transition: all ease-in-out .3s;
    transition: all ease-in-out .3s;
}

#profile-picture:hover {
    -webkit-box-shadow: 0 10px 12px 0 #89c4e1;
            box-shadow: 0 10px 12px 0 #89c4e1;
}

#profile-picture:focus {
    -webkit-box-shadow: 0 10px 12px 0 #89c4e1;
            box-shadow: 0 10px 12px 0 #89c4e1;
}

#web-background {
    background: #89c4e1;
    color: #5A5A5A;
}

#sectionWork {
    background-color: #89c4e1;
    color: #132043;
}

#sectionWork h1,
#sectionWork h2,
#sectionWork h3,
#sectionWork h4 {
    font-family: 'Josefin Sans', sans-serif;
    color: #1F4172;
}

.skills {
    background-color: #D1E5F4;
}

.badge {
    background-color: #1F4172;
    color: #F1B4BB;
}



.contact {
    color: #89c4e1;
}

.social-media {
    clear: both;
    margin: auto 0 0 0;
    text-align: center;
}

.social-media_icons {
    margin: 10px;
    width: 50px;
    height: 50px;
}

.social-media_icons:hover, .social-media_icons:focus {
    cursor: pointer;
    opacity: 0.5;
}

.card {
    color: #FDF0F0;
    background-color: #1F4172;
    border-width: 1px;
    border-color: #FDF0F0;
    width: 18rem;
    height: 25rem;
}

.modal-content {
    background-color: #1F4172;
}

.fading-hr {
    border: 0;
    height: 2px;
    background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(#F1B4BB), to(transparent));
    background: -o-linear-gradient(left, transparent, #F1B4BB, transparent);
    background: linear-gradient(to right, transparent, #F1B4BB, transparent);
}