:root {
    --bodyBackgroundColor: #BEADFA;
    --bodyTextColor: #1F4172;
    --headingTextColor: #2E4374;
    --skyblueBackgroundColor: #89c4e1;
    --preferredTransition: all ease-in-out .3s;
    --bs-table-bg: #BEADFA;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Slab', serif;
    background: var(--bodyBackgroundColor);
    color: var(--bodyTextColor);
}

h1, h2, h3, h4 {
    font-family: 'Josefin Sans', sans-serif;
    color: var(--headingTextColor);
}

/* Visited link */
a:visited {
    color: #1F4172;
}

.page-header {
    display: flex;
    width: 100%;
    padding: 20px;
}

.page-header__item {
    flex: 1 1 auto;
    text-align: right;
}

.page-header__item a{
    transition: var(--preferredTransition);
}

.page-header__item a:hover, .page-header__item a:focus
{
    opacity: .75;
    background: var(--skyblueBackgroundColor);
    text-decoration: overline;
}

#logo {
    width: 100%;
    max-width: 400px;
    height: 100%;
    max-height: 400px;
}

#profile-picture {
    box-shadow: 0 10px 5px 0 rgba(34, 60, 80, .16);
    transition: var(--preferredTransition);
}

#profile-picture:hover, #profile-picture:focus {
    box-shadow: 0 10px 12px 0 var(--skyblueBackgroundColor);
}

#web-background {
    background: var(--skyblueBackgroundColor);
    color: #5A5A5A;
}

.social-media {
    clear: both;
    margin: auto 0 0 0;
    text-align: center;
}

.social-media_icons {
    margin: 10px;
    width: 50px;
    height: 50px;
}

.social-media_icons:hover, .social-media_icons:focus {
    cursor: pointer;
    opacity: 0.5;
}

table.custom-table,
table.custom-table tr,
table.custom-table td,
table.custom-table th {
    max-width: max-content;
    background-color: var(--bs-table-bg);
    color: var(--bodyTextColor);
}

.card {
    color: var(--bodyTextColor);
    background-color: #9EDDFF;
    border-width: 1px;
    border-color: var(--bodyTextColor);
    width: 18rem;
    height: 25rem;
}

.modal-content {
    background-color: #9EDDFF;
}

.fading-hr {
    border: 0;
    height: 2px;
    background: linear-gradient(to right, transparent, #2E4374, transparent);
}

/* SVG ===================================================================================================*/
@keyframes color-change {
    0% {
      fill: #edc655;
    }
    50% {
      fill: #fcffad;
    }
    100% {
      fill: #f76414;
    }
}

.sun {
animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
    from {
      transform: translate(0, 50px);
    }
    to {
      transform: translate(200px, 50px);
    }
}

.cloud-front {
    animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
    from {
      transform: translate(446px, 48px);
    }
    to {
      transform: translate(100px, 48px);
    }
}

.cloud-back {
    animation: 34s cloud-move-reverse infinite alternate linear;
}

@media all and (max-width: 300px) {
    #work-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
    }
    h1 {
        font-size: 22px;
      }
}