:root {
    --bodyBackgroundColor: #132043;
    --bodyTextColor: #FDF0F0;
    --headingTextColor: #F1B4BB;
    --skyblueBackgroundColor: #89c4e1;
    --preferredTransition: all ease-in-out .3s;
}

.navbar-nav .nav-link {
    font-family: 'Courier New Bold', monospace;
    color: #F1B4BB;
    text-decoration: none;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.navbar-nav .nav-link:hover {
    color: #89c4e1;
    text-decoration: underline;
}

.navbar-nav .nav-link:hover .bracket {
    color: #b59cfa; /* Gold or any other highlight color */
}

.navbar {
    background-color: #132043;
}

body {
    font-family: 'Roboto Slab', serif;
    background: var(--bodyBackgroundColor);
    color: var(--bodyTextColor);
}

.anchor-offset {
    padding-top: 120px;
}

h1, h2, h3, h4 {
    font-family: 'Josefin Sans', sans-serif;
    color: var(--headingTextColor);
}

#logo {
    width: 100%;
    max-width: 200px;
    height: 100%;
    max-height: 100px;
}

#sectionHome {
    background-image: url('../images/sectionHome_background.jpg');
    background-size: cover;  /* This will cover the entire viewport */
    background-repeat: no-repeat;  /* This will prevent the image from repeating in case it's too small for the container */
    background-position: center center;  /* This will center the image */
    height: 100vh;
    position: relative;
}

#sectionHome::after {
    content: "";
    position: absolute;
    top: 75%; /* Start from the bottom quarter */
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, transparent, #132043); /* This gradient starts transparent and fades to white. Adjust as needed. */
    pointer-events: none; /* So it doesn't interfere with any interactions */
}

#profile-picture {
    box-shadow: 0 10px 5px 0 rgba(34, 60, 80, .16);
    transition: var(--preferredTransition);
}

#profile-picture:hover, #profile-picture:focus {
    box-shadow: 0 10px 12px 0 var(--skyblueBackgroundColor);
}

#web-background {
    background: var(--skyblueBackgroundColor);
    color: #5A5A5A;
}

#sectionWork {
    background-color: #89c4e1;
    color: #132043;
}

#sectionWork h1,
#sectionWork h2,
#sectionWork h3,
#sectionWork h4 {
    font-family: 'Josefin Sans', sans-serif;
    color: #1F4172;
}

.skills {
    background-color: #D1E5F4;
}

.badge {
    background-color: #1F4172;
    color: #F1B4BB;
}

.contact {
    color: #89c4e1;
}

.social-media {
    clear: both;
    margin: auto 0 0 0;
    text-align: center;
}

.social-media_icons {
    margin: 10px;
    width: 50px;
    height: 50px;
}

.social-media_icons:hover, .social-media_icons:focus {
    cursor: pointer;
    opacity: 0.5;
}

.card {
    color: var(--bodyTextColor);
    background-color: #1F4172;
    border-width: 1px;
    border-color: var(--bodyTextColor);
    width: 18rem;
    height: 25rem;
}

.modal-content {
    background-color: #1F4172;
}

.fading-hr {
    border: 0;
    height: 2px;
    background: linear-gradient(to right, transparent, #F1B4BB, transparent);
}